/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
	--text-color: #fff;
}


tbody tr:hover {
	background-color: #444654 !important;
	color: white;
}

table,
.cm-table-widget, .table-wrapper {
	border-collapse: collapse !important;
	width: 100% !important;
}

th::before {
	margin-right: 0.8rem;
}

th::after {
	width: 100%;
	/* : 0.8rem; */
}

table:not([class]) th {
	/* background-color: #1a1e24 !important; */
	padding: 0.4rem 0.8rempx;
}

table:not([class]) th::before, table th.neutral::before {
	/* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 19' fill='gray' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='11 17 7 21 3 17'%3E%3C/polyline%3E%3Cline x1='7' y1='21' x2='7' y2='9'%3E%3C/line%3E%3Cpolyline points='21 7 17 3 13 7'%3E%3C/polyline%3E%3Cline x1='17' y1='15' x2='17' y2='3'%3E%3C/line%3E%3C/svg%3E"); */
	color: gray !important;
}


.cm-table-widget {
	height: fit-content !important;
	padding-top: 1.5rem !important;
}

.table-col-drag-handle.opacity-100 {
	height: fit-content !important;
}


.short > span {
	display: none;
}

.hidden {
	display: none;
}

.opacity-0 {
	opacity: 0 !important;
}

.opacity-100 {
	opacity: 1 !important;
}

.is-selected {
	background-color: var(--table-selection) !important;
	color: white;
}
