/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
	--text-color: #fff;
}

/* @media (hover: hover) */
.markdown-source-view.mod-cm6 .cm-embed-block:hover {
    /* box-shadow: none; */
}

tbody tr:hover {
	background-color: #444654 !important;
	color: white;
}

table,
.cm-table-widget {
	border-collapse: collapse !important;
	width: 100%;
}

th::before {
	margin-right: 0.8rem;
}

th::after {
	width: 100%;
	/* : 0.8rem; */
}

table:not([class]) th {
	background-color: #1a1e24 !important;
	padding: 0.4rem 0.8rempx;
}

table:not([class]) th::before, table th.neutral::before {
	/* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 19' fill='gray' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='11 17 7 21 3 17'%3E%3C/polyline%3E%3Cline x1='7' y1='21' x2='7' y2='9'%3E%3C/line%3E%3Cpolyline points='21 7 17 3 13 7'%3E%3C/polyline%3E%3Cline x1='17' y1='15' x2='17' y2='3'%3E%3C/line%3E%3C/svg%3E"); */
	color: gray !important;
}

table:not([class]) th.ascending::before {
	/* Custom Icon */
	/* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 19' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M11 11h4'%3E%3C/path%3E%3Cpath d='M11 15h7'%3E%3C/path%3E%3Cpath d='M11 19h10'%3E%3C/path%3E%3Cpath d='M9 7 6 4 3 7'%3E%3C/path%3E%3Cpath d='M6 6v14'%3E%3C/path%3E%3C/svg%3E"); */

	/* Lucide icons */
	/* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 19' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' style='--darkreader-inline-stroke: currentColor;' data-darkreader-inline-stroke=''%3E%3Cpath d='M11 11h4'%3E%3C/path%3E%3Cpath d='M11 15h7'%3E%3C/path%3E%3Cpath d='M11 19h10'%3E%3C/path%3E%3Cpath d='M9 7 6 4 3 7'%3E%3C/path%3E%3Cpath d='M6 6v14'%3E%3C/path%3E%3C/svg%3E"); */
}

table:not([class]) th.descending::before{
	/* Custom Icon */
	/* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 19' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M11 5h10'%3E%3C/path%3E%3Cpath d='M11 9h7'%3E%3C/path%3E%3Cpath d='M11 13h4'%3E%3C/path%3E%3Cpath d='m3 17 3 3 3-3'%3E%3C/path%3E%3Cpath d='M6 18V4'%3E%3C/path%3E%3C/svg%3E"); */

	background-color: #e7a50a !important;

	/* Lucide icons */
	/* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 19' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' style='--darkreader-inline-stroke: currentColor;' data-darkreader-inline-stroke=''%3E%3Cpath d='M11 5h10'%3E%3C/path%3E%3Cpath d='M11 9h7'%3E%3C/path%3E%3Cpath d='M11 13h4'%3E%3C/path%3E%3Cpath d='m3 17 3 3 3-3'%3E%3C/path%3E%3Cpath d='M6 18V4'%3E%3C/path%3E%3C/svg%3E"); */
}

table:not([class]) th,
table:not([class]) th.neutral::before,
table:not([class]) th.descending::before,
table:not([class]) th.ascending::before {
	cursor: pointer;
	fill: white;
	vertical-align: middle;
}

/* table:not([class]) th, */
table:not([class]) th.neutral::after,
table:not([class]) th.descending::after,
table:not([class]) th.ascending::after {
	margin-left: 0.8rem;
	content: attr(data-content);
	color: var(--text-muted);
}


.cm-table-widget {
	height: fit-content !important;
	padding-top: 1.5rem !important;
}

.table-col-drag-handle.opacity-100 {
	top: -2px !important;
	/* justify-content: start !important;
	padding-left: 0.3rem !important; */
	height: fit-content !important;
	/* overflow-y: visible !important; */
}

/* .table-col-drag-handle.opacity-100 > span {
	display: none;
} */


.short > span {
	display: none;
}

.hidden {
	display: none;
}

.opacity-0 {
	opacity: 0 !important;
}

.opacity-100 {
	opacity: 1 !important;
}
